<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark">
    <mdb-navbar-brand>
        <img src="../../../assets/saphi -logo-navbar.png" height="30" alt="" style="padding-right: 1rem;">
    </mdb-navbar-brand>
<!--     <links>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Page 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Page 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" >Page 4</a>
            </li>
        </ul>
    </links> -->
</mdb-navbar>
